version: '3'

services:
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always

  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    container_name: wordpress
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    restart: always
    environment:
      SQL_DATABASE: ${SQL_DATABASE}
      SQL_USER: ${SQL_USER}
      SQL_PASSWORD: ${SQL_PASSWORD}
      DOMAIN_NAME: ${DOMAIN_NAME}
      SITE_TITLE: ${SITE_TITLE}
      ADMIN_USER: ${WP_ADMIN_USER}
      ADMIN_PASSWORD: ${WP_ADMIN_PASSWORD}
      ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      USER1_LOGIN: ${WP_USER}
      USER1_PASS: ${WP_USER_PASSWORD}
      USER1_EMAIL: ${WP_USER_EMAIL}
      SQL_HOST: mariadb

  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    container_name: mariadb
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception
    restart: always
    environment:
      - SQL_DATABASE=${SQL_DATABASE}
      - SQL_USER=${SQL_USER}
      - SQL_PASSWORD=${SQL_PASSWORD}
      - SQL_ROOT_PASSWORD=${SQL_ROOT_PASSWORD}

  redis:
    build: requirements/bonus/redis
    image: redis
    container_name: redis
    networks:
      - inception
    restart: always

  adminer:
    build: requirements/bonus/adminer
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    networks:
      - inception
    depends_on:
      - mariadb
    restart: always

  website:
    build: requirements/bonus/website
    image: website
    container_name: website
    ports:
      - "1337:1337"
    networks:
      - inception
    restart: always

  ftp:
    build: requirements/bonus/ftp
    image: ftp
    container_name: ftp
    ports:
      - "21:21"
      - "21100-21110:21100-21110"
    volumes:
      - wordpress:/var/www/wordpress
    networks:
      - inception
    env_file:
      - .env
    restart: always

  portainer:
    build: requirements/bonus/portainer
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/abdelhamid/data/mariadb

  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/abdelhamid/data/wordpress

  portainer_data: